extend ../layout

block content
  h2 Create a new webhook contingency
  form.form-horizontal(action='/new', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='type', value='webhook')
    .form-group
      label.col-sm-3.control-label(for='destination') Webhook destination
      .col-sm-7
        input.form-control(type='text', name='destination', id='destination', required)
    .form-group
      label.col-sm-3.control-label(for='port') Webhook port (optional)
      .col-sm-2
        input.form-control(type='number', name='port', id='port')
    .form-group
      label.col-sm-3.control-label(for='payload') Webhook payload
      .col-sm-7
        textarea.form-control(type='text', name='payload', id='payload')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-check
          | Create contingency