extend layout

block content
  .col-sm-12

    h2 Your contingencies
    each contingency in user.contingencies
      p some
    if (user.contingencies.length === 0)
      p You don't have any contingencies set up yet.
      a(href="/new") 
        i.fa.fa-plus
        span Add a contingency