// bootstrap override

.form-control {
  box-shadow:none;
  background-color: $white;
  border-radius: 0;
  border:none;
  border-bottom: 2px solid $gray;

  &:focus {
    box-shadow: none;
    border-bottom: 2px solid $brand-primary;
  }

  &.error {
    border-bottom: 2px solid $brand-danger;

    & + label.error {
       color: $brand-danger;
    }
  }

}

textarea.form-control {
  border:2px solid $gray;
  min-height: 10rem;

  &:focus {
    border:2px solid $brand-primary;
  }
}

.prettyprint-warning {
  color: $brand-danger;
}

