@import "../lib/bootstrap-social";

// Background and general
// -------------------------


html, body {
  background-color: $white;
}


// Footer
// -------------------------

footer {
  color: #fff;
  background-color: $gray-darker;

  a:hover {
    color: #fff;
  }
}


// Dropdowns
// -------------------------

.dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  border:none;
  background-color:rgba($brand-primary, 0.95);
  padding: 0;
}

.dropdown-menu > li > a {
  font-weight: 300;
  padding: 5px 20px;
}

.dropdown-menu > li > a:hover {
  background-color: $brand-primary-hover;
  color: $white;
}


// Form states and alerts
// -------------------------

.alert {
  color: $white;
}

// Navbar
// -------------------------

.navbar-default {
  border: 0;
  background-color: rgba($brand-primary, 0.95);
  color: $white;

  .navbar-nav {
    > li > a {
      transition:none;
    }

    > .active > a, 
    > .active > a:hover, 
    > li > a:hover {
      color:$white;
    }

    .open {
      > a {
        color: $white;
      }
    }
  }

  .navbard-brand {
    transition:none;
  }

  .navbar-brand:hover,
  .navbar-brand:focus {
    color:$white;
  }
}
