@import url("https://fonts.googleapis.com/css?family=Cabin:400,700");


// Black and white
// -------------------------

$white: $oc-gray-0;
$black: $oc-gray-9;


// Colors
// -------------------------

$gray-lighter: $oc-gray-1;
$gray-light: $oc-gray-3;
$gray: $oc-gray-5;
$gray-dark: $oc-gray-7;
$gray-darker: $oc-gray-9;

$brand-primary: $oc-teal-5;
$brand-success: $oc-green-5;
$brand-warning: $oc-orange-5;
$brand-danger: $oc-red-5;
$brand-info: $oc-teal-5;
$brand-dark: darken($oc-indigo-9, 45%);

$brand-primary-text: desaturate($brand-primary, 50%);
$title-color: mix($brand-primary, $gray, 10%);


$brand-primary-hover: $oc-teal-7;
$brand-success-hover: $oc-green-7;
$brand-warning-hover: $oc-orange-7;
$brand-danger-hover: $oc-red-7;
$brand-info-hover: $oc-teal-7;

// Typography
// -------------------------

$font-size-base: 13px;
$headings-font-family: 'Cabin', sans-serif;
$headings-font-weight: 700;
$text-color: $gray-darker;
$link-color: $brand-primary;
$link-hover-color: $gray-darker;

// Dropdowns
// -------------------------

$dropdown-link-color: $gray-darker;

// Buttons
// -------------------------

$btn-default-bg: $gray-lighter;
$btn-default-color: $gray-darker;

// Forms
// -------------------------

$input-border-radius: 2px;
$input-border-focus: #999;
$input-border: #f0f0f0;
$input-color: #444;
$input-color-placeholder: #999;
$input-height-base: 44px;

// Form states and alerts
// -------------------------

$state-success-bg: $brand-success;
$state-info-bg: $brand-primary;
$state-warning-bg: $brand-warning;
$state-danger-bg: $brand-danger;

// Navbar
// -------------------------

$navbar-height: 50px;
$navbar-default-bg: rgba(255,255,255,0.95);
$navbar-default-link-color: $gray-darker;
$navbar-default-link-active-color: $brand-primary;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-hover-color: $brand-primary;
$navbar-default-link-hover-bg: transparent;
$navbar-default-brand-color: $gray-darker;
$navbar-default-brand-hover-color: $brand-primary;